<nav class="navbar navbar-inverse navbar-fixed-top">
<!-- <nav class="navbar navbar" style="background-color:#4b6272;color:white;" > -->
<!-- <nav class="navbar"> -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">My Codes Page</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->

        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li> -->

        <!-- <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> -->

        <!-- <li class="active"> -->
        <!-- <li class="<%#= active?(ApplicationHelper.rails_path) %>"> -->

        <!-- <li class="<%#= active?(ApplicationHelper.rails_path) %>">
          <%#= link_to "Rails", create_apps_path %>
        </li> -->

        <!-- <li class="<%#= 'active' if params[:controller] == CreateAppsController %>"> -->
          <!-- <a href="/link">Link</a> -->
        <li class="<%#= rails_active?(params[:controller]) %>">
          <%= link_to "Rails", "#" %>
        </li>

        <li class="<%#= active?("#") %>">
          <%= link_to "Ruby", "#" %>
        </li>
        <li class="<%#= active?("#") %>">
          <%= link_to "Front-end", "#" %>
        </li>
        <li class="<%#= testing_active?(params[:controller]) %>">
          <%= link_to "Testing", "#" %>
        </li>
        <li class="<%#= active?("#") %>">
          <%= link_to "Gems", "#" %>
        </li>
        <li class="<%#= active?("#") %>">
          <%= link_to "Misc", "#" %>
        </li>
        <li class="<%#= active?("#") %>">
          <%= link_to "About", about_path %>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to current_user.name || current_user.email, edit_user_registration_path(current_user), class: "glyphicon glyphicon-user" %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path,method: :delete, class: "glyphicon glyphicon-log-out" %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "glyphicon glyphicon-user" %></li>
        <% end %>
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="container">
  <h3>Collapsible Navbar</h3>
  <p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).
  <p>Only when the button is clicked, the navigation bar will be displayed.</p>
</div> -->
