<!DOCTYPE html>
<html>
  <head>
    <title>Codes4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="application-background">
    <%= render 'layouts/navbar' %>
    <div class="for-aplication">
      <%= render 'layouts/flash_message' %>
      <div class="w3-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
