<!DOCTYPE html>
<html>
  <head>
    <title>Codes4</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  </head>

  <body class="application-background">

    <%= render 'layouts/navbar' %>

    <div class="for-aplication">

      <%= render 'layouts/flash_message' %>
      <%= render 'layouts/sidebars/arail_sidebar' %>

      <div class="w3-container" style="margin-left:160px"> <!-- moves container rigth of the sidebar -->
        <%= yield %>
      </div>

    </div>

  </body>

</html>
